In [286]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

## Data set

In [287]:
x1 = np.array([ 0.        ,  3.33333333,  6.66666667, 10.        ,  0.        ,
        3.33333333,  6.66666667, 10.        ,  0.        ,  3.33333333,
        6.66666667, 10.        ,  0.        ,  3.33333333,  6.66666667,
       10.        ])
x2 = np.array([0.        , 0.        , 0.        , 0.        , 0.33333333,
       0.33333333, 0.33333333, 0.33333333, 0.66666667, 0.66666667,
       0.66666667, 0.66666667, 1.        , 1.        , 1.        ,
       1.        ])
y = np.array([ 1.22353179,  3.57574634,  5.89217837,  8.19889324,  1.96307308,
        4.57556858,  7.48364786,  9.2400334 ,  2.9048125 ,  5.74174653,
        8.19832673, 10.69424417,  4.15380028,  7.12275093,  8.8976015 ,
       11.76820779])

## 1
a) Run a linear regression to find A, B1, and B2.  
b) Calculate SE(B1) and SE(B2)  
c) Calculate a prediction, y_hat, at x1=5, x2=.5 along with $SE(yhat) = \sqrt{RSS/(n-k-1)} / \sqrt{n}$

### a)

In [288]:
data = {'x1':x1, 'x2':x2, 'y':y}
df = pd.DataFrame(data)
df

           x1        x2          y
0    0.000000  0.000000   1.223532
1    3.333333  0.000000   3.575746
2    6.666667  0.000000   5.892178
3   10.000000  0.000000   8.198893
4    0.000000  0.333333   1.963073
5    3.333333  0.333333   4.575569
6    6.666667  0.333333   7.483648
7   10.000000  0.333333   9.240033
8    0.000000  0.666667   2.904812
9    3.333333  0.666667   5.741747
10   6.666667  0.666667   8.198327
11  10.000000  0.666667  10.694244
12   0.000000  1.000000   4.153800
13   3.333333  1.000000   7.122751
14   6.666667  1.000000   8.897602
15  10.000000  1.000000  11.768208

In [289]:
x = df.iloc[:,0:2].values
yy = df.iloc[:,2:3].values
ones = np.ones(x.shape[0]).reshape(-1,1)
x = np.hstack((x,ones))
x

array([[ 0.        ,  0.        ,  1.        ],
       [ 3.33333333,  0.        ,  1.        ],
       [ 6.66666667,  0.        ,  1.        ],
       [10.        ,  0.        ,  1.        ],
       [ 0.        ,  0.33333333,  1.        ],
       [ 3.33333333,  0.33333333,  1.        ],
       [ 6.66666667,  0.33333333,  1.        ],
       [10.        ,  0.33333333,  1.        ],
       [ 0.        ,  0.66666667,  1.        ],
       [ 3.33333333,  0.66666667,  1.        ],
       [ 6.66666667,  0.66666667,  1.        ],
       [10.        ,  0.66666667,  1.        ],
       [ 0.        ,  1.        ,  1.        ],
       [ 3.33333333,  1.        ,  1.        ],
       [ 6.66666667,  1.        ,  1.        ],
       [10.        ,  1.        ,  1.        ]])

In [290]:
w_ = np.dot(np.dot(np.linalg.inv(np.dot(x.T,x)),x.T),yy)
w_

array([[0.73818319],
       [3.25746294],
       [1.03248779]])

In [291]:
B1 = w_[0][0]
B2 = w_[1][0]
A = w_[2][0]
print(f'A = {A}, B1 = {B1}, B2 = {B2}')

A = 1.0324877889494912, B1 = 0.7381831868215657, B2 = 3.2574629401353574

### B

In [292]:
x = sm.add_constant(x)
result = sm.OLS(yy,x).fit()
result.summary()

/opt/anaconda3/envs/ml/lib/python3.8/site-packages/scipy/stats/stats.py:1603: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.995
Model:                            OLS   Adj. R-squared:                  0.994
Method:                 Least Squares   F-statistic:                     1238.
Date:                Sun, 27 Jun 2021   Prob (F-statistic):           1.47e-15
Time:                        22:45:56   Log-Likelihood:                 1.6754
No. Observations:                  16   AIC:                             2.649
Df Residuals:                      13   BIC:                             4.967
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.7382      0.016     45.518      0.000       0.703       0.773
x2             3.2575      0.162     20.086      0.000       2.907       3.608
const          1.0325      0.130      7.965      0.000       0.752       1.313
==============================================================================
Omnibus:                        0.564   Durbin-Watson:                   2.474
Prob(Omnibus):                  0.754   Jarque-Bera (JB):                0.600
Skew:                           0.350   Prob(JB):                        0.741
Kurtosis:                       2.359   Cond. No.                         19.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [293]:
print(f'SE(B1) = {0.016}, SE(B2) = {0.162}')

SE(B1) = 0.016, SE(B2) = 0.162

### C

In [294]:
xx1=5
xx2=.5
y_hat = A+xx1*B1+xx2*B2
print(f'y_hat = {y_hat}')

y_hat = 6.352135193124999

In [295]:
RSS = ( (yy-y_hat)**2 ).sum()

In [296]:
ùëÜùê∏ùë¶‚Ñéùëéùë° = ((RSS/(len(yy)-2-1))**0.5)/(len(yy)**0.5)
print(f'SE(yhat) = {ùëÜùê∏ùë¶‚Ñéùëéùë°}')

SE(yhat) = 0.8361772658727425

** [dsweet] See answer key (-.1) **

## 2
a) Calculate m=100 bootstrap sample sets from the original set of 16 samples and, for each bootstrap sample set, estimate A_bs, B1_bs, and B2_bs by regression. (You'll have 100 estimates of each of A_bs, B1_bs, and B2_bs.)  
b) Compute SE(B1_bs) and SE(B2_bs) directly from the m=100 samples. Do they match SE(B1) and SE(B2) from part 1, above?  
c) For each model, A_bs, B1_bs, and B2_bs, calculate a prediction, y_hat_bs, at x1=5, x2=.5. From that set of predictions, compute SE(y_hat_bs). Does it match SE(y_hat) from part 1, above?  
  
  
Hint: Be sure the values of y, x1, and x2 stay aligned when you draw a sample from the original data. Ex: Randomly drawing the i'th sample would yield (y[i],x1[i],x2[i]) -- all with the same i.

In [297]:
x1

array([ 0.        ,  3.33333333,  6.66666667, 10.        ,  0.        ,
        3.33333333,  6.66666667, 10.        ,  0.        ,  3.33333333,
        6.66666667, 10.        ,  0.        ,  3.33333333,  6.66666667,
       10.        ])

### a)

In [298]:
sample = []
for i in range(100):
    x1_100 = []
    x2_100 = []
    y_100 = []
    for i in range(16):
        ii = np.random.randint(16)
        x1_100.append(x1[ii])
        x2_100.append(x2[ii])
        y_100.append(y[ii])
    data_100 = {'x1':x1_100,'x2':x2_100,'y':y_100}
    df1 = pd.DataFrame(data_100)
    sample.append(df1)

In [300]:
A_bs = []
B1_bs = []
B2_bs = []
for i in range(100):
    x = sample[i].iloc[:,0:2].values
    yy = sample[i].iloc[:,2:3].values
    ones = np.ones(x.shape[0]).reshape(-1,1)
    x = np.hstack((x,ones))
    w_ = np.dot(np.dot(np.linalg.inv(np.dot(x.T,x)),x.T),yy)
    A_bs.append(w_[2][0])
    B1_bs.append(w_[0][0])
    B2_bs.append(w_[1][0])
df_100_bs = pd.DataFrame({'A_bs':A_bs, 'B1_bs':B1_bs, 'B2_bs':B2_bs})
df_100_bs

        A_bs     B1_bs     B2_bs
0   1.048435  0.720168  3.315377
1   1.085188  0.724809  3.319955
2   1.151183  0.714850  3.132887
3   1.037979  0.725032  3.145057
4   1.039595  0.730366  3.164980
..       ...       ...       ...
95  1.135159  0.719718  3.344875
96  1.116185  0.754851  2.958629
97  0.833558  0.751113  3.440062
98  1.154367  0.707235  3.262356
99  0.947905  0.747083  3.181740

[100 rows x 3 columns]

## B Compute SE(B1_bs) and SE(B2_bs) directly from the m=100 samples. Do they match SE(B1) and SE(B2) from part 1, above?

In [301]:
#get SE from each sample in m=100 samples
SE_B1_bs = []
SE_B2_bs = []
for i in range(100):
    dff = sample[i]
    x = dff.iloc[:,0:2].values
    yy = dff.iloc[:,2:3].values
    x = sm.add_constant(x)
    result = sm.OLS(yy,x).fit()
    SE_B1_bs.append(result.bse[1])
    SE_B2_bs.append(result.bse[2])
df_se_bs = pd.DataFrame({'SE_B1_bs':SE_B1_bs, 'SE_B2_bs':SE_B2_bs})
df_se_bs

    SE_B1_bs  SE_B2_bs
0   0.016123  0.185240
1   0.016105  0.151809
2   0.015435  0.107002
3   0.011282  0.102827
4   0.011032  0.122533
..       ...       ...
95  0.015746  0.167052
96  0.017663  0.204076
97  0.013076  0.129522
98  0.018328  0.129602
99  0.013980  0.154756

[100 rows x 2 columns]

In part1, SE(B1) = 0.016, SE(B2) = 0.162

**[dsweet] Please see the answer key. (-1) **

In [302]:
#get se from m=100 samples
frames = [i for i in sample]
result = pd.concat(frames)
result

           x1        x2         y
0    6.666667  0.666667  8.198327
1   10.000000  0.000000  8.198893
2   10.000000  0.333333  9.240033
3    6.666667  0.333333  7.483648
4    6.666667  1.000000  8.897602
..        ...       ...       ...
11   0.000000  0.666667  2.904812
12   0.000000  1.000000  4.153800
13   6.666667  1.000000  8.897602
14   0.000000  0.000000  1.223532
15   3.333333  0.333333  4.575569

[1600 rows x 3 columns]

In [303]:
x = dff.iloc[:,0:2].values
yy = dff.iloc[:,2:3].values
x = sm.add_constant(x)
result = sm.OLS(yy,x).fit()
print(f'SE(B1) = {result.bse[1]}, SE(B2) = {result.bse[2]}')

SE(B1) = 0.013980344205198201, SE(B2) = 0.15475629190241533

In part1, SE(B1) = 0.016, SE(B2) = 0.162

They are not match but they are very similary and close.

## c) For each model, A_bs, B1_bs, and B2_bs, calculate a prediction, y_hat_bs, at x1=5, x2=.5. From that set of predictions, compute SE(y_hat_bs). Does it match SE(y_hat) from part 1, above?  $SE(yhat) = \sqrt{RSS/(n-k-1)} / \sqrt{n}$

In [304]:
df_100_bs['ùë¶‚Ñéùëéùë°'] = df_100_bs['A_bs']+5*df_100_bs['B1_bs']+0.5*df_100_bs['B2_bs']
df_100_bs

        A_bs     B1_bs     B2_bs      ùë¶‚Ñéùëéùë°
0   1.048435  0.720168  3.315377  6.306964
1   1.085188  0.724809  3.319955  6.369212
2   1.151183  0.714850  3.132887  6.291877
3   1.037979  0.725032  3.145057  6.235668
4   1.039595  0.730366  3.164980  6.273914
..       ...       ...       ...       ...
95  1.135159  0.719718  3.344875  6.406185
96  1.116185  0.754851  2.958629  6.369756
97  0.833558  0.751113  3.440062  6.309152
98  1.154367  0.707235  3.262356  6.321718
99  0.947905  0.747083  3.181740  6.274192

[100 rows x 4 columns]

In [305]:
ùëÜùê∏ùë¶‚Ñéùëéùë°list = []
for i in range(len(sample)):
    df = sample[i]
    yy = df['y']
    y_hat = df_100_bs.iloc[i][3]
    RSS = ( (yy-y_hat)**2 ).sum()
    ùëÜùê∏ùë¶‚Ñéùëéùë° = ((RSS/(len(yy)-2-1))**0.5)/(len(yy)**0.5)
    ùëÜùê∏ùë¶‚Ñéùëéùë°list.append(ùëÜùê∏ùë¶‚Ñéùëéùë°)
df_100_bs['ùëÜùê∏ùë¶‚Ñéùëéùë°'] = ùëÜùê∏ùë¶‚Ñéùëéùë°list
df_100_bs

        A_bs     B1_bs     B2_bs      ùë¶‚Ñéùëéùë°    ùëÜùê∏ùë¶‚Ñéùëéùë°
0   1.048435  0.720168  3.315377  6.306964  0.690187
1   1.085188  0.724809  3.319955  6.369212  0.840339
2   1.151183  0.714850  3.132887  6.291877  0.727873
3   1.037979  0.725032  3.145057  6.235668  0.793261
4   1.039595  0.730366  3.164980  6.273914  0.924456
..       ...       ...       ...       ...       ...
95  1.135159  0.719718  3.344875  6.406185  0.851540
96  1.116185  0.754851  2.958629  6.369756  0.885160
97  0.833558  0.751113  3.440062  6.309152  0.908586
98  1.154367  0.707235  3.262356  6.321718  0.600933
99  0.947905  0.747083  3.181740  6.274192  0.889074

[100 rows x 5 columns]

In part1, SE(yhat) = 0.8361772658727425.

They are not match but they are very close.

In [306]:
df_100_bs['ùëÜùê∏ùë¶‚Ñéùëéùë°'].mean()

0.8389905761658893

**[dsweet] Please see the answer key. (-.5) **

** [dsweet] Grade 3.4/5 **