# 1. Import data

In [205]:
import pandas as pd

In [206]:
data = pd.read_csv('https://raw.githubusercontent.com/NewThread-ZY/AIM-5014-100/main/heart.csv')
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [207]:
data.Sex = data.Sex.replace({'M': 0, 'F': 1})
data.ChestPainType = data.ChestPainType.replace({'ATA': 0, 'NAP': 1,'ASY': 2,'TA': 3})
data.RestingECG = data.RestingECG.replace({'Normal': 0, 'ST': 1,'LVH': 2})
data.ExerciseAngina = data.ExerciseAngina.replace({'N': 0, 'Y': 1})
data.ST_Slope = data.ST_Slope.replace({'Up': 0, 'Flat': 1, 'Down': 2})
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,0,140,289,0,0,172,0,0.0,0,0
1,49,1,1,160,180,0,0,156,0,1.0,1,1
2,37,0,0,130,283,0,1,98,0,0.0,0,0
3,48,1,2,138,214,0,0,108,1,1.5,1,1
4,54,0,1,150,195,0,0,122,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,0,3,110,264,0,0,132,0,1.2,1,1
914,68,0,2,144,193,1,0,141,0,3.4,1,1
915,57,0,2,130,131,0,0,115,1,1.2,1,1
916,57,1,0,130,236,0,2,174,0,0.0,1,1
917,38,0,1,138,175,0,0,173,0,0.0,0,0

In [208]:
data = (data-data.min())/(data.max()-data.min())
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,0.244898,0.0,0.000000,0.70,0.479270,0.0,0.0,0.788732,0.0,0.295455,0.0,0.0
1,0.428571,1.0,0.333333,0.80,0.298507,0.0,0.0,0.676056,0.0,0.409091,0.5,1.0
2,0.183673,0.0,0.000000,0.65,0.469320,0.0,0.5,0.267606,0.0,0.295455,0.0,0.0
3,0.408163,1.0,0.666667,0.69,0.354892,0.0,0.0,0.338028,1.0,0.465909,0.5,1.0
4,0.530612,0.0,0.333333,0.75,0.323383,0.0,0.0,0.436620,0.0,0.295455,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,0.346939,0.0,1.000000,0.55,0.437811,0.0,0.0,0.507042,0.0,0.431818,0.5,1.0
914,0.816327,0.0,0.666667,0.72,0.320066,1.0,0.0,0.570423,0.0,0.681818,0.5,1.0
915,0.591837,0.0,0.666667,0.65,0.217247,0.0,0.0,0.387324,1.0,0.431818,0.5,1.0
916,0.591837,1.0,0.000000,0.65,0.391376,0.0,1.0,0.802817,0.0,0.295455,0.5,1.0
917,0.204082,0.0,0.333333,0.69,0.290216,0.0,0.0,0.795775,0.0,0.295455,0.0,0.0

# 2. Split data into trainning data and testing data

In [209]:
import numpy as np

In [210]:
train_data, test_data, _ = np.split(data.sample(frac = 1, random_state = 42), [int(0.8*len(data)), int(len(data))])

In [211]:
#save to csv
train_data.to_csv('./heart_nor/AutoML_train.csv', index = False, header = True)
test_data.to_csv('./heart_nor/AutoML_test.csv', index = False, header = True)

# 3.Upload dataset to Amazon S3

In [212]:
import sagemaker

In [213]:
prefix = 'sagemaker/DEMO-autopilot/input'
sess   = sagemaker.Session()

In [214]:
uri = sess.upload_data(path="./heart_nor/AutoML_train.csv", key_prefix=prefix)

In [215]:
print(uri)

s3://sagemaker-us-east-1-669717135279/sagemaker/DEMO-autopilot/input/AutoML_train.csv

# 4.Predict

In [216]:
test_data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
556,0.959184,0.0,0.666667,0.80,0.514096,1.0,0.0,0.366197,1.0,0.522727,1.0,0.0
876,0.653061,0.0,0.666667,0.65,0.341625,0.0,1.0,0.507042,1.0,0.568182,0.5,1.0
577,0.795918,0.0,0.666667,0.73,0.611940,0.0,0.0,0.352113,1.0,0.511364,0.5,1.0
85,0.775510,0.0,0.666667,0.70,0.230514,0.0,0.0,0.239437,1.0,0.409091,0.5,1.0
242,0.551020,0.0,0.000000,0.80,0.484245,1.0,0.0,0.584507,1.0,0.522727,0.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
106,0.408163,1.0,0.666667,0.60,0.421227,0.0,0.5,0.352113,0.0,0.295455,0.0,0.0
270,0.346939,0.0,0.666667,0.60,0.373134,0.0,0.0,0.563380,0.0,0.295455,0.0,0.0
860,0.653061,0.0,0.666667,0.65,0.419569,0.0,0.0,0.591549,1.0,0.454545,0.0,1.0
435,0.653061,0.0,0.666667,0.76,0.000000,0.0,0.5,0.408451,1.0,0.295455,0.0,0.0
102,0.244898,1.0,0.666667,0.75,0.650083,0.0,0.0,0.492958,0.0,0.522727,0.5,1.0

In [217]:
test_data = test_data[['Age','Sex','ChestPainType','RestingBP','Cholesterol','FastingBS','RestingECG','MaxHR','ExerciseAngina','Oldpeak','ST_Slope', 'HeartDisease']]
test_data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
556,0.959184,0.0,0.666667,0.80,0.514096,1.0,0.0,0.366197,1.0,0.522727,1.0,0.0
876,0.653061,0.0,0.666667,0.65,0.341625,0.0,1.0,0.507042,1.0,0.568182,0.5,1.0
577,0.795918,0.0,0.666667,0.73,0.611940,0.0,0.0,0.352113,1.0,0.511364,0.5,1.0
85,0.775510,0.0,0.666667,0.70,0.230514,0.0,0.0,0.239437,1.0,0.409091,0.5,1.0
242,0.551020,0.0,0.000000,0.80,0.484245,1.0,0.0,0.584507,1.0,0.522727,0.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
106,0.408163,1.0,0.666667,0.60,0.421227,0.0,0.5,0.352113,0.0,0.295455,0.0,0.0
270,0.346939,0.0,0.666667,0.60,0.373134,0.0,0.0,0.563380,0.0,0.295455,0.0,0.0
860,0.653061,0.0,0.666667,0.65,0.419569,0.0,0.0,0.591549,1.0,0.454545,0.0,1.0
435,0.653061,0.0,0.666667,0.76,0.000000,0.0,0.5,0.408451,1.0,0.295455,0.0,0.0
102,0.244898,1.0,0.666667,0.75,0.650083,0.0,0.0,0.492958,0.0,0.522727,0.5,1.0

In [218]:
"""test_data.Sex = test_data.Sex.replace({'M': 0, 'F': 1})
test_data.ChestPainType = test_data.ChestPainType.replace({'ATA': 0, 'NAP': 1,'ASY': 2,'TA': 3})
test_data.RestingECG = test_data.RestingECG.replace({'Normal': 0, 'ST': 1,'LVH': 2})
test_data.ExerciseAngina = test_data.ExerciseAngina.replace({'N': 0, 'Y': 1})
test_data.ST_Slope = test_data.ST_Slope.replace({'Up': 0, 'Flat': 1, 'Down': 2})
test_data"""

"test_data.Sex = test_data.Sex.replace({'M': 0, 'F': 1})\ntest_data.ChestPainType = test_data.ChestPainType.replace({'ATA': 0, 'NAP': 1,'ASY': 2,'TA': 3})\ntest_data.RestingECG = test_data.RestingECG.replace({'Normal': 0, 'ST': 1,'LVH': 2})\ntest_data.ExerciseAngina = test_data.ExerciseAngina.replace({'N': 0, 'Y': 1})\ntest_data.ST_Slope = test_data.ST_Slope.replace({'Up': 0, 'Flat': 1, 'Down': 2})\ntest_data"

In [219]:
test_data.to_csv('./heart/AutoML_test.csv', index = False, header = True)

In [220]:
ep_name = 'Heart-AutoML1'

In [221]:
import boto3,sys
sm_rt = boto3.Session().client('runtime.sagemaker')

In [230]:
tp=tn=fp=fn=count=0
with open('./heart/AutoML_test.csv') as f:
    lines = f.readlines()
    for l in lines[1:]:
        l = l.split(',')
        label = l[-1]
        l = l[:-1]
        l = ','.join(l)
        response = sm_rt.invoke_endpoint(EndpointName=ep_name,ContentType='text/csv',Accept='text/csv',Body=l)
        response = response['Body'].read().decode('utf-8')
        if '1' in label:
            if '1' in response:
                tp+=1
            else:
                fn+=1
        if '0' in label:
            if '0' in response:
                tn+=1
            else:
                fp+=1
        count+=1
        if (count%100==0):
            sys.stdout.write(str(count)+' ')
print('done')

100 done

In [231]:
print("%d %d" %(tp, fn))
print("%d %d" %(fp, tn))

88 4
0 184

In [232]:
accuracy = (tp+tn)/(tp+tn+fn+fp)
accuracy

0.9855072463768116

In [234]:
precision = tp/(tp+fp)
precision

1.0

In [236]:
recall = tn/(tn+fn)
recall

0.9787234042553191

In [237]:
f1 = (2*precision*recall)/(precision+recall)
f1

0.989247311827957